<div>
  <h2><%= continent.name %> </h2>
  <h4>Size: <%= continent.size %> </h4>
</div>

<a href="/continents/<%= continent.id %>/countries">Countries in <%= continent.name %> </a>

<a href="/continents/<%= continent.id %>/countries/new ">Create a new country in <%= continent.name%></a>